log/
obj/
_site/
.optemp/
_themes*/

.openpublishing.buildcore.ps1
financials/finance-how-import-payroll-transactions.md
financials/madeira-develop-extensions.md
financials/madeira-develop-extensions.md