<html xmlns:xlink="http://www.w3.org/1999/xlink"><head><META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
        </META><META NAME="save" CONTENT="history"></META><title>{{title}}</title>
<link rel="stylesheet" type="text/css" href="../local/Classic.css"><script language="JScript" SRC="../Feedback.js"></script><style type="text/css"> h1 { font: 2.57em "Segoe UI","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;  } </style></head>
<body><h1>{{title}}</h1>{{{conceptual}}}
<hr></hr>
<div>
<span ID="fb"></span>
<span ID="fbb">
<p><!-- <a href="https://go.microsoft.com/fwlink/?LinkID=724015" target="_blank">Provide product feedback.</a>--></p>
<script type="text/javascript">FeedBackLink();</script>
</span><br>
</div>
          
            <p> © 2020 Microsoft. All rights reserved.</p>
          <p></p><p><br 

xmlns:maml="http://ddue.schemas.microsoft.com/authoring/2003/5" /></div></div>

