---
    title: Insert topic title| Microsoft Docs
    description: Insert description
    services: project-madeira
    documentationcenter: ''
    author: SorenGP

    ms.service: dynamics365-financials
    ms.topic: article
    ms.devlang: na
    ms.tgt_pltfrm: na
    ms.workload: na
    ms.search.keywords:
    ms.date: 07/01/2017
    ms.author: sgroespe

---
# How to: Print the OCR Journal - Test Report
You can print the **\($ R\_15000100 OCR Journal – Test $\)** report to test the imported payment transactions in the cash receipt journal. You can also view potential warnings and reconcile conflicts before the payments are posted to the journal.  
  
### To print the OCR Journal – Test report  
  
1.  In the **Search** box, enter **OCR Journal - Test**, and then choose the related link.  
  
2.  On the **Options** FastTab, fill in the fields as described in the following table.  
  
    |ADD INCLUDE<!--[!INCLUDE[bp_tablefield](../../includes/bp_tabledescription_md.md)]-->|  
    |---------------------------------|---------------------------------------|  
    |**\($ R\_15000100\_F\_1\_1080113 Show only Lines with OCR Errors $\)**|Select to print only the journal lines that contain a warning in the test report.|  
    |**\($ R\_15000100\_F\_1\_1 Show Dimensions $\)**|Select to print dimension information on the test report.|  
  
3.  Choose the **Print** button to print the report or choose the **Preview** button to view it on the screen.  
  
## See Also  
 [Electronic Banking in Norway](electronic-banking-in-norway.md)   
 [How to: Set Up KID Numbers on Sales Documents](how-to-set-up-kid-numbers-on-sales-documents.md)   
 [How to: Set Up OCR Payments](how-to-set-up-ocr-payments.md)   
 [How to: Import and Post OCR Payments](how-to-import-and-post-ocr-payments.md)   
 [Work with General Journals](work-with-general-journals.md)