---
title: Print the OCR journal - Test report
description: You can print the OCR Journal – Test report to test the imported payment transactions in the cash receipt journal in the Norwegian version.
author: brentholtorf
ms.topic: conceptual
ms.devlang: na
ms.tgt_pltfrm: na
ms.workload: na
ms.search.keywords:
ms.search.form: 15000100, 255
ms.date: 11/21/2023
ms.author: bholtorf
---
# Print the OCR journal - Test report
You can print the **OCR Journal – Test** report to test the imported payment transactions in the cash receipt journal. You can also view potential warnings and reconcile conflicts before the payments are posted to the journal.  

## To print the OCR journal – Test report  

1.  Choose the ![Lightbulb that opens the Tell Me feature.](../../media/ui-search/search_small.png "Tell me what you want to do") icon, enter **OCR Journal - Test**, and then choose the related link.  
2.  On the **Options** FastTab, fill in the fields as described in the following table.  

    |Field|Description|  
    |---------------------------------|---------------------------------------|  
    |**Show only Lines with OCR Errors**|Select to print only the journal lines that contain a warning in the test report.|  
    |**Show Dimensions**|Select to print dimension information on the test report.|  

3.  Choose the **Print** button to print the report or choose the **Preview** button to view it on the screen.  

## See also  
 [Electronic Banking in Norway](electronic-banking-in-norway.md)   
 [Set Up KID Numbers on Sales Documents](how-to-set-up-kid-numbers-on-sales-documents.md)   
 [Set Up OCR Payments](how-to-set-up-ocr-payments.md)   
 [Import and Post OCR Payments](how-to-import-and-post-ocr-payments.md)   
 [Work with General Journals](../../ui-work-general-journals.md)


[!INCLUDE[footer-include](../../includes/footer-banner.md)]