---
title: Print the OCR journal - Test report
description: Learn how to print the OCR Journal Test report to test imported payment transactions in the cash receipt journal.
author: brentholtorf
ms.topic: how-to
ms.devlang: al
ms.search.keywords: OCR Journal Test report, test imported payment transactions, reconcile conflicts
ms.search.form: 15000100, 255
ms.date: 05/13/2025
ms.author: bholtorf
ms.service: dynamics-365-business-central
ms.reviewer: v-soumramani
---

# Print the OCR journal - Test report

You can print the **OCR Journal – Test** report to test the imported payment transactions in the cash receipt journal. You can also view potential warnings and reconcile conflicts before the payments are posted to the journal.  

## Print the OCR journal – Test report  

1. Choose the ![Tell Me feature](../../media/ui-search/search_small.png "Tell me what you want to do") icon, enter **OCR Journal - Test**, and then choose the related link.  
1. On the **Options** FastTab, fill in the fields as described in the following table.  

    |Field|Description|  
    |---------------------------------|---------------------------------------|  
    |**Show only Lines with OCR Errors**|Select to print only the journal lines that contain a warning in the test report.|  
    |**Show Dimensions**|Select to print dimension information on the test report.|  

1. Choose the **Print** button to print the report or choose the **Preview** button to view it on the screen.  

## Related information

- [Electronic Banking in Norway](electronic-banking-in-norway.md)
- [Set Up KID Numbers on Sales Documents](how-to-set-up-kid-numbers-on-sales-documents.md)
- [Set Up OCR Payments](how-to-set-up-ocr-payments.md)
- [Import and Post OCR Payments](how-to-import-and-post-ocr-payments.md)
- [Work with General Journals](../../ui-work-general-journals.md)

[!INCLUDE[footer-include](../../includes/footer-banner.md)]
